<form  autocomplete="off" name="add-achievement-form" class="add-achievement-form">

<label for="achievement_id" class="add-achievement-form__id">ID</label>
  <input
    id="achievement_id"
    type="text"
    name="achievement_id"
    placeholder="Achievement ID"
    class="add-achievement-form__id"
    value="{{overrides.achievement.id}}"
    {{#if overrides.achievement.id}}
      disabled
    {{/if}}
  >
  <label name="achievement_id_error" class="add-achievement-form__id-error form-error">{{validation.id}}</label>
  <label for="achievement_title" class="add-achievement-form__label">Title</label>
  <input
    id="achievement_title"
    type="text"
    name="achievement_title"
    placeholder="Achievement Title"
    class="add-achievement-form__title"
    value="{{overrides.achievement.title}}"
  >

  <label for="achievement_description" class="add-achievement-form__label">Description</label>
  <textarea
    id="achievement_description"
    name="achievement_description"
    placeholder="Achievement Description"
    class="add-achievement-form__description"
  >{{overrides.achievement.description}}</textarea>

  <label for="achievement_image_preview" class="add-achievement-form__label">Image</label>
  <div style="display:flex;flex-direction:row;flex-wrap:nowrap;margin-bottom:5px;">
    <img
      src=""
      width=64
      height=64
      alt=""
      name="achievement_image_preview"
      id="achievement_image_preview"
      class="add-achievement-form__image-preview"
      src="{{overrides.achievement.image}}"
    >

    <input type="hidden" name="achievement_image" id="achievement_image" value="{{overrides.achievement.image}}">
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;flex: 1 0 auto;">
      <button
        id="achievement_image-button"
        type="button"
        name="achievement_image-button"
        class="btn btn--primary add-achievement-form__image"
        style="flex: 1 1 auto;"
      >
        <i class="fas fa-upload"></i>
        Select
      </button>
      <button type="button" name="clear" class="btn btn--primary add-achievement-form__clear-image" style="flex: 1 1 auto;">
        <i class="fas fa-times"></i>
        Clear
      </button>
    </div>
  </div>

  <button type="submit" class="btn btn--primary add-achievement-form__submit">
    <i class="fas fa-plus"></i>
    Add Achievement
  </button>
</form>
