<form  autocomplete="off" name="add-achievement-form" class="add-achievement-form">

<label for="achievement_id" class="add-achievement-form__id">
  {{localize "fvtt-player-achievements.forms.add-achievement-form.id"}}
</label>
  <input
    id="achievement_id"
    type="text"
    name="achievement_id"
    placeholder="Achievement ID"
    class="add-achievement-form__id"
    value="{{overrides.achievement.id}}"
    {{#if overrides.achievement.id}}
      disabled
    {{/if}}
  >
  <label name="achievement_id_error" class="add-achievement-form__id-error form-error">{{validation.id}}</label>
  <label for="achievement_title" class="add-achievement-form__label">{{localize "fvtt-player-achievements.forms.add-achievement-form.title"}}</label>
  <input
    id="achievement_title"
    type="text"
    name="achievement_title"
    placeholder="Achievement Title"
    class="add-achievement-form__title"
    value="{{overrides.achievement.title}}"
  >

  <label for="achievement_description" class="add-achievement-form__label">{{localize "fvtt-player-achievements.forms.add-achievement-form.description"}}</label>
  <textarea
    id="achievement_description"
    name="achievement_description"
    placeholder="Achievement Description"
    class="add-achievement-form__description"
  >{{overrides.achievement.description}}</textarea>

  <label for="achievement_image_preview" class="add-achievement-form__label">{{localize "fvtt-player-achievements.forms.add-achievement-form.image"}}</label>
  <div style="display:flex;flex-direction:row;flex-wrap:nowrap;margin-bottom:5px;">
    <img
      src=""
      width=64
      height=64
      alt=""
      name="achievement_image_preview"
      id="achievement_image_preview"
      class="add-achievement-form__image-preview"
      src="{{overrides.achievement.image}}"
    >

    <input type="hidden" name="achievement_image" id="achievement_image" value="{{overrides.achievement.image}}">
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;flex: 1 0 auto;">
      <button
        id="achievement_image-button"
        type="button"
        name="achievement_image-button"
        class="btn btn--primary add-achievement-form__image"
        style="flex: 1 1 auto;"
      >
        <i class="fas fa-upload"></i>
        {{localize "fvtt-player-achievements.forms.add-achievement-form.select"}}
      </button>
      <button type="button" name="clear_image" class="btn btn--primary add-achievement-form__clear-image" style="flex: 1 1 auto;">
        <i class="fas fa-times"></i>
        {{localize "fvtt-player-achievements.forms.add-achievement-form.clear"}}
      </button>
    </div>
  </div>

  <label for="achievement_cloaked_image_preview" class="add-achievement-form__label">{{localize "fvtt-player-achievements.forms.add-achievement-form.cloaked-image"}}</label>
  <div style="display:flex;flex-direction:row;flex-wrap:nowrap;margin-bottom:5px;">
    <img
      src=""
      width=64
      height=64
      alt=""
      name="achievement_cloaked_image_preview"
      id="achievement_cloaked_image_preview"
      class="add-achievement-form__cloaked_image-preview"
      src="{{overrides.achievement.cloakedImage}}"
    >

    <input type="hidden" name="achievement_cloaked_image" id="achievement_cloaked_image" value="{{overrides.achievement.cloakedImage}}">
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;flex: 1 0 auto;">
      <button
        id="achievement_cloaked_image-button"
        type="button"
        name="achievement_cloaked_image-button"
        class="btn btn--primary add-achievement-form__cloaked_image"
        style="flex: 1 1 auto;"
      >
        <i class="fas fa-upload"></i>
        {{localize "fvtt-player-achievements.forms.add-achievement-form.select"}}
      </button>
      <button type="button" name="clear_cloaked_image" class="btn btn--primary add-achievement-form__clear-cloaked_image" style="flex: 1 1 auto;">
        <i class="fas fa-times"></i>
        {{localize "fvtt-player-achievements.forms.add-achievement-form.clear"}}
      </button>
    </div>
  </div>

  <label for="achievement_sound_preview" class="add-achievement-form__label">{{localize "fvtt-player-achievements.forms.add-achievement-form.sound"}}</label>
  <audio
    src=""
    name="achievement_sound_preview"
    id="achievement_sound_preview"
    class="add-achievement-form__sound-preview"
    src="{{overrides.achievement.sound}}"
  ></audio>

  <input type="text" name="achievement_sound" id="achievement_sound" value="{{overrides.achievement.sound}}">
    <div style="display:flex;flex-direction:row;flex-wrap:nowrap;flex: 1 0 auto;">
      <button
        id="achievement_sound-button"
        type="button"
        name="achievement_sound-button"
        class="btn btn--primary add-achievement-form__sound"
        style="flex: 1 1 auto;"
      >
        <i class="fas fa-upload"></i>
        {{localize "fvtt-player-achievements.forms.add-achievement-form.select"}}
      </button>
      <button type="button" name="preview_sound" class="btn btn--primary add-achievement-form__preview-sound" style="flex: 1 1 auto;">
        <i class="fas fa-play"></i>
        {{localize "fvtt-player-achievements.forms.add-achievement-form.preview"}}
      </button>
      <button type="button" name="clear_sound" class="btn btn--primary add-achievement-form__clear-sound" style="flex: 1 1 auto;">
        <i class="fas fa-times"></i>
        {{localize "fvtt-player-achievements.forms.add-achievement-form.clear"}}
      </button>
    </div>

  <button type="submit" class="btn btn--primary add-achievement-form__submit">
    <i class="fas fa-plus"></i>
    {{#if (eq overrides.mode "edit")}}
      {{localize "fvtt-player-achievements.forms.add-achievement-form.update-achievement"}}
    {{else}}
      {{localize "fvtt-player-achievements.forms.add-achievement-form.add-achievement"}}
    {{/if}}
  </button>
</form>
